<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WpfTestMailSender.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <!--system.net>
    <mailSettings>
      <smtp from="111111@gmail.com">
        <network host="smtp.gmail.com" port="587" enableSsl="true" userName="111111@gmail.com" password="*******" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net-->
  <system.net>
    <mailSettings>
      <smtp from="11111@yandex.ru">
        <network host="smtp.yandex.ru" port="25" enableSsl="true" userName="11111@yandex.ru" password="*******" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>

</configuration>